{{- if .Values.rbac.enable -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "estafette-vulnerability-scanner.fullname" . }}
  labels:
{{ include "estafette-vulnerability-scanner.labels" . | indent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - list
- apiGroups:
  - "apps"
  resources:
  - deployments
  - statefulsets
  - daemonsets
  verbs:
  - list
- apiGroups:
  - "batch"
  resources:
  - jobs
  - cronjobs
  verbs:
  - list
{{- end -}}
