{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "estafette-vulnerability-scanner.fullname" . }}
  labels:
  {{- include "estafette-vulnerability-scanner.labels" . | nindent 4 }}
  {{- if .Values.serviceMonitor.labels }}
  {{ toYaml .Values.serviceMonitor.labels | nindent 4 }}
  {{- end }}
spec:
  endpoints:
    - path: /metrics
      port: metrics
  namespaceSelector:
    matchNames:
      - "{{ .Release.Namespace }}"
  selector:
    matchLabels:
  {{- include "estafette-vulnerability-scanner.labels" . | nindent 6 }}
{{- end }}
